body {
  color: #301409;
  font-family: "Courier New", Courier, monospace;
}

nav {
  width: 50vw;
  margin: auto;
}

header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

header ul li img {
  max-width: 10vw;
}
header li a {
  text-decoration: none;
  color: #301409;
  font-weight: bolder;
}

header li {
  list-style: none;
}
#breadcrumbs {
  margin-bottom: 7vw;
}

#breadcrumbs ul {
  display: flex;
  gap: 1vw;
}

#breadcrumbs li {
  list-style: none;
}

#breadcrumbs a {
  color: #301409;
}
main {
  font-family: Arial, Helvetica, sans-serif;
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1vw;
  max-width: 80%;
  margin: auto;
  gap: 4vw;
}
#wrapper img {
  flex-shrink: 3;
  max-width: 50%;
  height: 40%;
}

#product_text {
  border: solid #301409;
  padding: 2vw;
  width: 60%;
}

#product_text ul {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 90%;
}
#wrapper li {
  list-style: none;
  margin-bottom: 1vw;
}

#product_text .brand {
  opacity: 0.5;
  font-size: 1.5em;
  margin-top: -1vw;
  font-style: oblique;
}
#product_text .price {
  font-size: 1.8em;
  font-weight: bolder;
  margin: 0;
}

#product_text .description {
  margin-bottom: 2vw;
}

#product_text .color {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vw;
}

#product_text .color_box {
  width: 1.5vw;
  height: 1.5vw;
}

#product_text .size {
  display: flex;
  flex-direction: row;
  gap: 1vw;
}

#product_text select {
  width: 15vw;
  padding: 0.5vw;
  border-radius: 2px;
  -webkit-appearance: none;
  background-image: url(webshop_images/size_arrow.png);
  background-repeat: no-repeat;
  background-size: 2rem;
  background-color: #ffff;
  background-position: right 10px center;
  border: 1px solid #301409;
}

#product_text button {
  background-color: #301409;
  padding: 1.5vw;
  text-transform: uppercase;
  color: white;
  border: none;
  font-size: 2em;
  font-weight: bold;
  margin-top: 2vw;
  margin-left: 13%;
}
footer {
  margin-top: 4vw;
  text-align: center;
}
